<mat-card>
  <form
    [formGroup]="customerForm"
    (ngSubmit)="onSubmit()"
    class="customer-create-form"
  >
    <h2>Editar / revisar Usuario</h2>

    <!-- Nombre -->
    <mat-form-field appearance="fill">
      <mat-label>Nombre</mat-label>
      <input matInput id="nombre" formControlName="nombre" />
      <mat-error
        *ngIf="
          customerForm.get('nombre')?.invalid &&
          customerForm.get('nombre')?.touched
        "
      >
        El nombre es obligatorio.
      </mat-error>
    </mat-form-field>

    <!-- Apellido -->
    <mat-form-field appearance="fill">
      <mat-label>Apellido</mat-label>
      <input matInput id="apellido" formControlName="apellido" />
      <mat-error
        *ngIf="
          customerForm.get('apellido')?.invalid &&
          customerForm.get('apellido')?.touched
        "
      >
        El apellido es obligatorio.
      </mat-error>
    </mat-form-field>

    <!-- Email -->
    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput id="email" formControlName="email" />
      <mat-error
        *ngIf="
          customerForm.get('email')?.invalid &&
          customerForm.get('email')?.touched
        "
      >
        El email es obligatorio.
      </mat-error>
    </mat-form-field>

    <!-- Teléfono -->
    <mat-form-field appearance="fill">
      <mat-label>Teléfono</mat-label>
      <input matInput id="telefono" formControlName="telefono" />
      <mat-error
        *ngIf="
          customerForm.get('telefono')?.invalid &&
          customerForm.get('telefono')?.touched
        "
      >
        El teléfono es obligatorio.
      </mat-error>
      <mat-hint>Formato: 123-456-7890</mat-hint>
    </mat-form-field>

    <!-- Dirección -->
    <mat-form-field appearance="fill">
      <mat-label>Dirección</mat-label>
      <input matInput id="direccion" formControlName="direccion" />
      <mat-error
        *ngIf="
          customerForm.get('direccion')?.invalid &&
          customerForm.get('direccion')?.touched
        "
      >
        La dirección es obligatoria.
      </mat-error>
    </mat-form-field>

    <!-- Ciudad -->
    <mat-form-field appearance="fill">
      <mat-label>Ciudad</mat-label>
      <input matInput id="ciudad" formControlName="ciudad" />
      <mat-error
        *ngIf="
          customerForm.get('ciudad')?.invalid &&
          customerForm.get('ciudad')?.touched
        "
      >
        La ciudad es obligatoria.
      </mat-error>
    </mat-form-field>

    <!-- Estado -->
    <mat-form-field appearance="fill">
      <mat-label>Estado</mat-label>
      <input matInput id="estado" formControlName="estado" />
      <mat-error
        *ngIf="
          customerForm.get('estado')?.invalid &&
          customerForm.get('estado')?.touched
        "
      >
        El estado es obligatorio.
      </mat-error>
    </mat-form-field>

    <!-- País -->
    <mat-form-field appearance="fill">
      <mat-label>País</mat-label>
      <input matInput id="pais" formControlName="pais" />
      <mat-error
        *ngIf="
          customerForm.get('pais')?.invalid && customerForm.get('pais')?.touched
        "
      >
        El país es obligatorio.
      </mat-error>
    </mat-form-field>

    <!-- Fecha de nacimiento -->
    <mat-form-field appearance="fill">
      <mat-label>Fecha de nacimiento</mat-label>
      <input
        matInput
        [matDatepicker]="picker1"
        id="fecha_nacimiento"
        formControlName="fecha_nacimiento"
      />
      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
      <mat-datepicker #picker1></mat-datepicker>
      <mat-error
        *ngIf="
          customerForm.get('fecha_nacimiento')?.invalid &&
          customerForm.get('fecha_nacimiento')?.touched
        "
      >
        La fecha de nacimiento es obligatoria.
      </mat-error>
    </mat-form-field>

    <!-- Fecha de registro -->
    <mat-form-field appearance="fill">
      <mat-label>Fecha de registro</mat-label>
      <input
        matInput
        [matDatepicker]="picker2"
        id="fecha_registro"
        formControlName="fecha_registro"
      />
      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
      <mat-datepicker #picker2></mat-datepicker>
      <mat-error
        *ngIf="
          customerForm.get('fecha_registro')?.invalid &&
          customerForm.get('fecha_registro')?.touched
        "
      >
        La fecha de registro es obligatoria.
      </mat-error>
    </mat-form-field>

    <!-- Activo -->
    <mat-checkbox formControlName="activo">Activo</mat-checkbox>

    <!-- ID del colaborador - Solo visible si el rol es "Colaborador" -->
    <mat-form-field *ngIf="isCollaborator()" appearance="fill">
      <mat-label>ID del colaborador</mat-label>
      <mat-select formControlName="colaborador_id" id="colaborador_id">
        <mat-option
          *ngFor="let colaborador of collaborators"
          [value]="colaborador.id"
        >
          {{ colaborador.nombre_completo }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <!-- Botones de acción -->
    <div class="button-group">
      <!-- Botón Guardar -->
      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="customerForm.invalid"
      >
        Guardar
      </button>
      <!-- Botón Cancelar -->
      <button
        mat-stroked-button
        style="margin-top: 5px"
        color="warn"
        (click)="goBack()"
        type="button"
      >
        Cancelar
      </button>
    </div>
  </form>
</mat-card>
