<div class="demo-button-container">
  <h2>Lista de clientes</h2>

  <!-- Botón para agregar un nuevo cliente -->
  <button
    mat-raised-button
    color="primary"
    (click)="addCustomer()"
    class="demo-button"
  >
    Agregar cliente
  </button>
</div>

<table mat-table [dataSource]="customers" class="mat-elevation-z8">
  <!-- ID Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef class="mat-header-primary">ID</th>
    <td mat-cell *matCellDef="let element">{{ element.id }}</td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef class="mat-header-primary">
      Nombre y apellido
    </th>
    <td mat-cell *matCellDef="let element">
      {{ element.nombre }} {{ element.apellido }}
    </td>
  </ng-container>

  <!-- Email Column -->
  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef class="mat-header-primary">Email</th>
    <td mat-cell *matCellDef="let element">{{ element.email }}</td>
  </ng-container>

  <!-- Phone Column -->
  <ng-container matColumnDef="telefono">
    <th mat-header-cell *matHeaderCellDef class="mat-header -primary">
      Teléfono
    </th>
    <td mat-cell *matCellDef="let element">{{ element.telefono }}</td>
  </ng-container>

  <!-- Actions Column -->
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef class="mat-header-primary">
      Acciones
    </th>
    <td mat-cell *matCellDef="let element">
      <button
        mat-icon-button
        color="success"
        (click)="showCustomer(element.id)"
        aria-label="Mostrar cliente"
      >
        <mat-icon>visibility</mat-icon>
      </button>
      <button
        mat-icon-button
        color="warn"
        (click)="deleteCustomer(element.id)"
        aria-label="Eliminar cliente"
      >
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
