/* Contenedor principal del modal */
:host {
  display: block;
  min-width: 400px;
  min-height: 200px;
  max-width: 80vw; /* Ancho máximo opcional */
  max-height: 80vh; /* Alto máximo opcional */
}

/* Estilo para el contenedor del encabezado */
.modal-header {
  display: flex;
  align-items: center;
  background-color: #f8d7da; /* Fondo rojo claro */
  padding: 10px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

/* Ícono de advertencia en el encabezado */
.error-icon {
  color: #d32f2f; /* Rojo oscuro */
  font-size: 36px;
  margin-right: 10px;
}

/* Título de error */
.error-title {
  color: #d32f2f; /* Rojo oscuro */
  font-weight: bold;
  margin: 0;
}

/* Contenido del mensaje de error */
.error-content {
  color: #721c24; /* Rojo más claro */
  font-size: 16px;
  padding: 20px;
}

/* Botón de cerrar */
mat-dialog-actions button {
  color: white;
  background-color: #d32f2f; /* Rojo oscuro */
}
