<mat-toolbar color="primary">
  <span>Mi Aplicación</span>
  <span class="spacer"> </span>
  <div *ngIf="username; else loading">
    <small>
      <small> Bienvenido, {{ username }} </small>
    </small>
  </div>
  <ng-template #loading> Cargando usuario... </ng-template>
  <a mat-button routerLink="/logout" class="salir" style="margin-left: 10px">
    <mat-icon>logout</mat-icon>
  </a>
</mat-toolbar>
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav mode="side" opened class="sidebar">
    <nav>
      <a mat-button routerLink="/dashboard">
        <mat-icon>dashboard</mat-icon> Tablero
      </a>
      <a mat-button routerLink="/usuarios">
        <mat-icon>group</mat-icon> Usuarios
      </a>
      <a mat-button routerLink="/proyectos">
        <mat-icon>folder</mat-icon> Proyectos
      </a>
      <a mat-button routerLink="/colaboradores">
        <mat-icon>people</mat-icon> Colaboradores
      </a>
      <a mat-button routerLink="/tareas">
        <mat-icon>check_circle</mat-icon> Tareas
      </a>
      <a mat-button routerLink="/tipos-tarea">
        <mat-icon>list</mat-icon> Tipos Tarea
      </a>
      <a mat-button routerLink="/presupuestos">
        <mat-icon>attach_money</mat-icon> Presupuestos
      </a>
      <a mat-button routerLink="/riesgos">
        <mat-icon>warning</mat-icon> Riesgos
      </a>
      <a mat-button routerLink="/documentos">
        <mat-icon>description</mat-icon> Documentos
      </a>
      <a mat-button routerLink="/asignaciones">
        <mat-icon>assignment</mat-icon> Asignaciones
      </a>
      <a mat-button routerLink="/comentarios">
        <mat-icon>chat</mat-icon> Comentarios
      </a>
    </nav>
  </mat-sidenav>
  <mat-sidenav-content>
    <main class="main-content">
      <router-outlet></router-outlet>
      <!-- Aquí se cargarán las vistas -->
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
<footer>
  <mat-toolbar color="primary" class="footer-toolbar">
    <span>© 2024 Mi Aplicación. Todos los derechos reservados.</span>
  </mat-toolbar>
</footer>
