<mat-toolbar color="primary">
  <span>Mi Aplicación</span>
  <span class="spacer"> </span>
  <div *ngIf="username; else loading">
    <small>
      <small> Bienvenido, {{ username }} </small>
    </small>
  </div>
  <ng-template #loading> Cargando usuario... </ng-template>
  <a mat-button (click)="logout()" class="salir" style="margin-left: 10px">
    <mat-icon>logout</mat-icon>
  </a>
</mat-toolbar>
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav mode="side" opened class="sidebar">
    <nav>
      <a mat-button routerLink="/dashboard" routerLinkActive="active">
        <mat-icon>dashboard</mat-icon> Tablero
      </a>
      <a mat-button routerLink="/customers" routerLinkActive="active">
        <mat-icon>business</mat-icon> Clientes
      </a>
      <a mat-button routerLink="/users" routerLinkActive="active">
        <mat-icon>group</mat-icon> Usuarios
      </a>
      <a mat-button routerLink="/projects" routerLinkActive="active">
        <mat-icon>folder</mat-icon> Proyectos
      </a>
      <a mat-button routerLink="/collaborator" routerLinkActive="active">
        <mat-icon>people</mat-icon> Colaboradores
      </a>
      <a mat-button routerLink="/tasks" routerLinkActive="active">
        <mat-icon>check_circle</mat-icon> Tareas
      </a>
      <a mat-button routerLink="/task-types" routerLinkActive="active">
        <mat-icon>list</mat-icon> Tipos Tarea
      </a>
      <a mat-button routerLink="/budgets" routerLinkActive="active">
        <mat-icon>attach_money</mat-icon> Presupuestos
      </a>
      <a mat-button routerLink="/risks" routerLinkActive="active">
        <mat-icon>warning</mat-icon> Riesgos
      </a>
      <a mat-button routerLink="/documents" routerLinkActive="active">
        <mat-icon>description</mat-icon> Documentos
      </a>
      <a mat-button routerLink="/asignaments" routerLinkActive="active">
        <mat-icon>assignment</mat-icon> Asignaciones
      </a>
      <a mat-button routerLink="/comments" routerLinkActive="active">
        <mat-icon>chat</mat-icon> Comentarios
      </a>
    </nav>
  </mat-sidenav>
  <mat-sidenav-content>
    <main class="main-content">
      <router-outlet></router-outlet>
      <!-- Aquí se cargarán las vistas -->
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
<footer>
  <mat-toolbar color="primary" class="footer-toolbar">
    <span>© 2024 Mi Aplicación. Todos los derechos reservados.</span>
  </mat-toolbar>
</footer>
